.warapper {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.container {
  width: 20em;
  height: 10em;
  padding: var(--spacing-large);
  background-color: var(--color-gray-light);
  border-radius: 0.5em;
  box-shadow: var(--box-shadow);
  outline: none;
}

.modalSuccess {
  border: 1px solid var(--color-green);
  background-color: var(--color-green-light);
}

.modalUnsuccess {
  border: 1px solid var(--color-red-light);
  background-color: var(--color-red-lighter);
}

.button {
  display: block;
  margin: 0 auto;
}
